[flake8]
max-line-length = 110
ignore = E501,E261,F401,F403,W503,W504,E203,E231,E731,I001
exclude =
    .git,
    __pycache__
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
